<launch>

  <arg name="enable_ekf" default="$(optenv ENABLE_EKF true)"/>

  <rosparam command="load" file="$(find jackal_control)/config/control.yaml" />

  <group if="$(optenv JACKAL_CONTROL_EXTRAS 0)" >
    <rosparam command="load" file="$(env JACKAL_CONTROL_EXTRAS_PATH)" />
  </group>

  <node pkg="imu_processors" type="imu_bias_remover" name="imu_bias_remover">
    <param name="use_odom" value="true"/>

    <remap from="odom" to="jackal_velocity_controller/odom" />
    <remap from="imu" to="imu/data" />
    <remap from="imu_biased" to="imu/bias_removed" />
    <remap from="bias" to="imu/bias" />
  </node>

  <!-- TODO: Check if that works as intended -->
  <node pkg="imu_transformer" type="imu_transformer_node" name="imu_transformer_um7">
    <remap from="imu_in" to="imu_um7" />
    <remap from="imu_out" to="imu_um7_corrected" />
    <param name="target_frame" value="base_link"/>
  </node>

  <node name="controller_spawner" pkg="controller_manager" type="spawner"
        args="jackal_joint_publisher jackal_velocity_controller" />

  <group if="$(arg enable_ekf)" >
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
      <rosparam command="load" file="$(find jackal_control)/config/robot_localization.yaml" />
    </node>
  </group>

  <node pkg="twist_mux" type="twist_mux" name="twist_mux">
    <rosparam command="load" file="$(find jackal_control)/config/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="jackal_velocity_controller/cmd_vel"/>
  </node>

</launch>
